@charset "UTF-8";
/* @import url("slider.css"); */

/* Fonts */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
  margin:0;
  padding:0;
  border: 0;
}

body{
  position:relative;
  /* background:#fff url('../image/bg.jpg') no-repeat left top; */
  background:#fff;
  background-size:cover;
  font-size:13pt;
}

.more{
  position:fixed;
  left:16px;
  top:15px;
}

.more_icon a{
  border:2px solid transparent;
  display:inline-block;
  width:22px;
  height:19px;
  padding:3px;
  float:left;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
}

.more_icon a img{
  width:100%;
}

.more ul{
  position:fixed;
  top:15px;
  left:52px;
  list-style:none;
  display: none;
}

.more ul li{
  margin-bottom:2px;
  background:#000;
}

.more ul li a{
  color:#fff;
  display:block;
  text-decoration:none;
  text-transform:uppercase;
  line-height:100%;
  font-size:0.7em;
  font-family:'Orator Std';
  padding:4px 5px 1px 5px;
  width:190px;
  letter-spacing:1px;
}


#bold{
  width:50%;
  height:100%;
  display:inline-block;
  float:left;
  overflow:hidden;
}

#italic{
  width:50%;
  height:100%;
  display:inline-block;
  float:left;
  overflow:hidden;
}

.wrapper ul{
  list-style:none;
  margin:0;
  padding:0;
}

.wrapper ul li{
  width:100%;
  display:block;
  overflow:hidden;
  margin:0;
  padding:0;
}

.wrapper ul li img{
  width:100%;
}
